.button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: $color-primary-green;
    border-radius: 40px;
    padding:
        clamp(0.375rem, calc(0.33rem + 0.227vw), 0.5rem) /* min: 6px, max: 8px */
        clamp(0.75rem, calc(0.432rem + 1.591vw), 1.625rem) /* min: 12px, max: 26px */
    ;
    border: none;
    cursor: pointer;

    color: $color-primary-white;
    font-family: "Cera Pro";
    font-size: clamp(0.75rem, calc(0.659rem + 0.455vw), 1rem); /* min: 12px, max: 16px */
    font-weight: 500;

    fill: none;
    stroke: $color-primary-white;

    transition: all .3s;

    @media screen and (min-width: $bp-mobile) {
        border-radius: 6px;
    }

    &:hover {
        background-color: $color-primary-white;
        color: $color-primary-green;
        stroke: $color-primary-green;
        box-shadow: 0 0 6px $color-primary-green;
    }
}