.button-icon {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 0;
    width: fit-content;
    height: fit-content;
    fill: $color-primary-gray;
    cursor: pointer;
    transition: fill .3s, filter .3s;

    &:hover {
        fill: $color-primary-green;
        filter: drop-shadow(0 0 10px $color-primary-green);
    }
}