.button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: $color-primary-green;
    border-radius: 6px;
    padding: 8px 26px;
    border: none;
    cursor: pointer;

    color: $color-primary-white;
    font-family: "Cera Pro";
    font-size: 16px;
    font-weight: 500;

    fill: none;
    stroke: $color-primary-white;

    transition: all .3s;

    &:hover {
        background-color: $color-primary-white;
        color: $color-primary-green;
        stroke: $color-primary-green;
        box-shadow: 0 0 6px $color-primary-green;
    }
}