.cart-icon {
    position: relative;
    fill: $color-primary-gray;
    font-size: 0;
    transition: fill .3s, filter .3s, border 3s;

    &:hover {
        fill: $color-primary-green;
        filter: drop-shadow(0 0 10px $color-primary-green);
    }

    &:hover &__count {
        border: 3px $color-primary-green solid;
    }

    &__count {
        position: absolute;
        top: 0;
        right: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        background-color: $color-primary-green;
        border-radius: 50%;
        box-sizing: content-box;
        border: 3px $color-primary-white solid;
        color: $color-primary-white;
        font-family: "Cera Pro";
        font-size: 10px;
        font-weight: 500;
        transition: border .3s;
    }
}