.input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $color-form;
    border-radius: 10px;
    overflow: hidden;
    background-color: transparent;

    &:focus-within {
        border: 1px solid $color-primary-green;
    }

    &:focus-within &__icon {
        fill: $color-primary-green;
    }

    &__input {
        width: 100%;
        padding: 14px 10px;
        font-family: "Cera Pro", sans-serif;
        color: $color-primary-gray;
        font-size: 14px;
        line-height: 114%;
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-mobile-gray;
        }

        &[type="password"] {
            letter-spacing: 0.25em;

            &::placeholder {
                letter-spacing: 0;
            }
        }
    }

    &__icon {
        fill: $color-mobile-gray;
        margin-left: 10px;

        &--password {
            fill: $color-secondary-727272;
            margin-right: 10px;
            margin-left: 0;
            cursor: pointer;
        }
    }
}