.promo {
    margin-bottom: 20px; // TODO: change

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
    }

    &__card {
        display: flex;
        flex: 1 1 calc((100%/2) - 28px);
        background-color: $color-secondary-white;
        padding: clamp(1.25rem, calc(1.023rem + 1.136vw), 1.875rem) 0; // min: 20px, max: 30px
        
        @media screen and (min-width: $bp-mobile) {
            padding-right: clamp(1.25rem, calc(1.023rem + 1.136vw), 1.875rem);
        }
    }

    &__image-container {
        display: flex;
        align-items: end;
        margin-top: -70px;
        max-width: 264px;
    }

    &__image {
        width: 100%;
        height: fit-content;
        min-width: 140px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        gap: clamp(0.75rem, calc(0.568rem + 0.909vw), 1.25rem); // min: 12px, max: 20px
        flex-grow: 1;
        min-width: 140px;
    }

    &__title {
        text-transform: uppercase;
        max-width: 150px;
        font-weight: 900;
        font-size: clamp(1rem, calc(0.955rem + 0.227vw), 1.125rem); // min: 16px, max: 18px
    }

    &__description {
        line-height: 1.5;
        height: calc(1.5em * 3);
        font-size: clamp(0.625rem, calc(0.557rem + 0.341vw), 0.813rem); // min: 10px, max: 13px
        color: $color-secondary-727272;
        max-width: none;
        
        @media screen and (min-width: $bp-tablet) {
            max-width: 280px;
        }
    }

    &__button {
        display: flex;
        margin-bottom: clamp(0.5rem, calc(0.318rem + 0.909vw), 1rem); // min: 8px, max: 16px

        &>:first-child {
            order: 2;
        }

        &>:last-child {
            order: 1;
        }
    }
}
