$color-primary-green: #46A358;
$color-primary-gray: #3D3D3D;
$color-primary-white: #FFFFFF;

$color-secondary-727272: #727272;
$color-secondary-white: #FBFBFB;


$bp-desktop: 1200px;
$bp-small-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 460px;