.header {
    display: none;

    @media screen and (min-width: $bp-mobile) {
        display: block;
    }

    &__container {
        display: flex;
        gap: 18px;
        justify-content: space-between;
        padding: 26px 0 18px 0;
        border-bottom: 0.3px rgba($color-primary-green, 0.5) solid;
    }

    &__logo {
        width: auto;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: none;
        gap: 0;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            gap: clamp(1.5rem, calc(-1.389rem + 6.019vw), 3.125rem); /* min: 24px, max: 50px */
        }
    }

    &__utility-bar {
        display: flex;
        align-items: center;
        gap: clamp(1.125rem, calc(0.659rem + 1.622vw), 1.875rem); /* min: 18px, max: 30px */
    }

    &__link {
        &::before {
            height: 3px;
            bottom: -28px;
        }
    }
}