.section {
    &__title {
        color: $color-primary-gray;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 54%;
        margin-bottom: 16px;
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        color: $color-secondary-727272;
        text-align: center;
        font-size: 14px;
        line-height: 172%;
        margin-bottom: 35px;
    }
}