.section {
    &__title {
        font-size: 32px;
        margin-bottom: 24px;

        @media screen and (min-width: $bp-mobile) {
            font-size: 48px;
        }

        @media screen and (min-width: $bp-tablet) {
            font-size: 56px;
            margin-bottom: 48px;
        }

        &--center {
            text-align: center;
        }
    }
}