.filter-list {
    &__title {
        color: $color-primary-gray;
        font-size: 18px;
        font-weight: 700;
        line-height: 88%;
        margin-bottom: 6px;
    }

    &__row {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        margin-left: 12px;
    }

    &__row-name,
    &__row-count {
        color: $color-primary-gray;
        font-size: 15px;
        line-height: 266%;
        transition: color .3s, font-weight .1s;
    }

    &__row-name:hover {
        color: $color-primary-green;
        font-weight: 700;
    }

    &__row-name:hover + &__row-count {
        color: $color-primary-green;
        font-weight: 700;
    }
}