.cart-calculate {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 26px;
    border-radius: 40px 40px 0px 0px;
    background: $color-primary-white;
    box-shadow: 0px 0px 20px 0px rgba(205, 205, 205, 0.3);

    @media screen and (min-width: $bp-mobile) {
        position: relative;
        padding: 0;
        border-radius: unset;
        background: $color-primary-white;
        box-shadow: none;
    }

    @media screen and (min-width: 1074px) {
        flex: 0 0 328px
    }

    &__title {
        display: none;

        @media screen and (min-width: $bp-mobile) {
            display: block;
            color: $color-primary-gray;
            font-size: 18px;
            font-weight: 700;
        }
    }

    &__decor-line {
        display: none;

        @media screen and (min-width: $bp-mobile) {
            display: block;
            border: none;
            height: 0.3px;
            background: rgba($color-primary-green, 0.50);
            margin: 11px 0px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, calc(0.456rem + 1.892vw), 1.875rem); // min: 16px, max: 30px
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__form-label {
        display: none;

        @media screen and (min-width: $bp-mobile) {
            display: block;
            color: $color-primary-gray;
            font-size: 14px;
        }
    }

    &__form-field {
        display: flex;
        justify-content: space-between;
        border: none;
        border-radius: 40px;
        background: linear-gradient(93deg, $color-primary-white -0.94%, $color-primary-white 105.02%);
        box-shadow: 0px 6px 20px 0px rgba(210, 210, 210, 0.25);

        @media screen and (min-width: $bp-mobile) {
            border-radius: 3px;
            border: 1px solid $color-primary-green;
            background: transparent;
            box-shadow: none;
        }
    }

    &__form-input {
        flex-grow: 1;
        color: $color-mobile-gray;
        font-family: "Cera Pro";
        font-size: 14px;
        border-radius: 40px;
        padding: 16px;
        border: none;

        @media screen and (min-width: $bp-mobile) {
            border-radius: 3px 0px 0px 3px;
            padding: 8px;
        }
    }

    &__form-button {
        color: $color-primary-white;
        font-family: "Cera Pro";
        font-size: 15px;
        font-weight: 700;
        border: none;
        padding: 17px 28px;
        border-radius: 40px;
        background: linear-gradient(93deg, rgba($color-primary-green, 0.54) -0.94%, $color-primary-green 105.02%);
        cursor: pointer;
        transition: all .3s;

        @media screen and (min-width: $bp-mobile) {
            border-radius: 0px 3px 3px 0px;
            background: $color-primary-green;
            padding: 12px 25px 12px 35px;
        }

        &:hover {
            background: $color-primary-white;
            color: $color-primary-green;
            box-shadow: 0 0 6px $color-primary-green;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: clamp(0.625rem, calc(0.534rem + 0.455vw), 0.875rem); // min: 10px, max: 14px
    }

    &__item {
        display: flex;
        justify-content: space-between;
        font-size: 15px;

        &--price {
            font-size: clamp(1rem, calc(0.922rem + 0.27vw), 1.125rem); // min: 16px, max: 18px
            font-weight: 500;
        }
    }

    &__total-block {
        display: flex;
        justify-content: space-between;
        font-weight: 700;

        &--title {
            color: $color-primary-gray;
            font-size: 16px;
        }

        &--price {
            color: $color-primary-green;
            font-size: 18px;
        }
    }

    &__actions-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(0.25rem, calc(-0.139rem + 1.351vw), 0.875rem); // min: 4px, max: 14px
    }

    &__button {
        font-size: 15px;
        background: linear-gradient(93deg, $color-primary-green -3.96%, rgba($color-primary-green, 0.80) 121.97%);
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 52px;

        @media screen and (min-width: $bp-mobile) {
            background: $color-primary-green;
            height: auto;
        }

        &:hover {
            background: $color-primary-white;
        }
    }

    &__link {
        color: $color-primary-green;
        font-size: 15px;
    }
}